In [1]:
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd

In [20]:
r = requests.get('https://www.slickcharts.com/sp500')
soup = BeautifulSoup(r.text, 'html.parser')
table = soup.find('div', {'class': 'panel-body'})

In [44]:
stock_list = []
for a in table.find_all('a', href=True): 
    stock_list.append(a.text)

In [90]:
symbol_list = []
for a in table.find_all('form'):
    symbol = re.sub('[^A-Za-z0-9]+', ' ', str(a)).split()[12]
    symbol_list.append(symbol)

In [92]:
len(symbol_list)

505

In [95]:
SP500 = pd.DataFrame({'Name': stock_list, 'Symbol': symbol_list})

In [96]:
SP500.head()

                    Name Symbol
0             Apple Inc.   AAPL
1  Microsoft Corporation   MSFT
2        Amazon.com Inc.   AMZN
3  Facebook Inc. Class A     FB
4   JPMorgan Chase & Co.    JPM

In [98]:
SP500.tail()

                            Name Symbol
500       Discovery Inc. Class A  DISCA
501  Range Resources Corporation    RRC
502    Under Armour Inc. Class A    UAA
503    Under Armour Inc. Class C     UA
504     News Corporation Class B    NWS